.aaaaaaaaaa{
    width: 100%;
    height: .54rem;
    background: #FC4073;
}
.row-s{
    background: #fff;
    margin-bottom: .10rem;
    margin-top: .22rem;
    height:1.88rem;
}
.row-s>li{
    background: #fff;
    border-bottom: solid .01rem #F5F5F5;
    position: relative;
    z-index: 0;
    overflow: hidden;
    height: .9375rem;
    float: left;
    box-sizing: border-box;
    border-bottom: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
}
.row-s .col-3{
    width: 25%;

}
.row-s .col-6{
    width: 50%;
}
.row-s li a h3{
    position: relative;
    z-index: 10;
    padding: .05rem 0 .05rem .10rem;
    overflow: hidden;
    height: .27rem;
    line-height: .23rem;
    font-size: .15rem;
    font-weight: 400;
    color: #FC4073;
}
.row-s li a p{
    position: relative;
    z-index: 10;
    color: #888;
    top: -.05rem;
    font-size: .12rem;
    padding-left: .10rem;
    line-height: .18rem;
}
.row-s li a img{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

