.photo{
    width: 100%;
}
.box{
    background: #eee;
    >h3{
        height: .8rem;
        line-height: .8rem;
        text-align: center;
        background: white;
        margin-top :.2rem;
    }
}