.head_all{
    position: fixed;
    z-index: 160;
    border-bottom: solid 1px #ddd;
    left: 0;
    width: 100%;
    top: 0;
}
.header{
    background: linear-gradient(to left,#FA4DBE 0,#FBAA58 100%);
    border-bottom:1px solid #999;
    width: 100%;
    height: .45rem;
    .search_box{
        height: .3rem;
        width: 3.2rem;
        position: relative;
        input{
            width: 3.2rem;
            height: .3rem;
            border: none;
            border-radius: 20px;
            position: absolute;
            top: 25%;
            left: 10px;
            text-indent: 10px;
        }
    }
}
.headerbar{
    margin-top: .3rem
}